<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!--MSFT does not allow direct access to nuget.org, so use this mirror if necessary-->
    <add key="NugetProxy" value="https://packagefeedproxy.microsoft.io/nuget/v3/index.json" />
    
    <add key="GithubAzure" value="https://nuget.pkg.github.com/Azure/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GithubAzure>
      <!--Set value to your github username-->
      <add key="Username" value="YOUR_GITHUB_USERNAME" />

      <!--Set value to a Github PAT (classic) with permissions "read:packages". When creating PAT, ensure expiry length of 7 days and then configure SSO to allow "Azure"-->
      <add key="ClearTextPassword" value="YOUR_GITHUB_PAT" />
    </GithubAzure>
  </packageSourceCredentials>
</configuration>
